<nav class="navbar d-flex flex-row mb-3 fw-light bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">

    <div class="container justify-content-evenly">
        <p class="navbar-brand">{{title}}</p>

        <ul class="nav nav-pills">
          <li class="nav-item px-2">
            <a class="nav-link border border-light-subtle" routerLink="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  border border-light-subtle" routerLink="/photos">Photos</a>
          </li>
      </ul>

    </div>
    
  </nav>
<router-outlet></router-outlet>
