<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto " id="main-div">
            <h1 class="fw-light">Welcome to Instagram Clone</h1>
            <div class="col">
                <button (click)="redirectToUploadPhoto()" mat-raised-button color="primary">Upload Photo</button>
                <button (click)="redirectToPhotos()" mat-raised-button color="primary">All Photos</button>
            </div>
            

        </div>
    </div>
</section>